#doubt someone needs tags file
**/*.tags
**/.*.swp
**/*.o
**/*.bin
**/*.a
main
heuristics/.tags
heuristics/.*.swp
heuristics/*.o
*.qmlc
CCPTool/CMakeFiles
CCPTool/cmake_install.cmake
CCPTool/Makefile
CCPTool/CMakeCache.txt
